<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h2>마이페이지</h2>
        <div class="form-group">
            <label for="username">아이디 (이메일)</label>
            <input type="text" class="form-control" id="username" th:value="${user.username}" readonly>
        </div>
        <div class="form-group">
            <label for="nickname">닉네임</label>
            <input type="text" class="form-control" id="nickname" th:value="${user.nickname}" readonly>
        </div>
        <div class="form-group">
            <label for="profileImage">프로필 사진</label>
            <div>
                <!-- Base64로 인코딩된 이미지를 보여줍니다 -->
                <img th:src="${'data:image/png;base64,' + user.profileBase64}" alt="프로필 사진" class="img-thumbnail">
            </div>
        </div>
    </div>
    <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>


