<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 수정</title>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <div class="container">
        <h2>게시물 수정</h2>
        <hr>
        <form th:action="@{|/board/edit/${post.id}|}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${post.title}" required>
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" name="content" rows="8" required th:text="${post.content}"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">첨부 사진</label>
                <input type="file" class="form-control-file" id="photo" name="photo">
                <!-- 현재 게시물의 사진 미리 보기 -->
                <img th:src="@{|data:image/png;base64,${profileBase64}|}" alt="현재 사진" class="profile-image">
            </div>
            <button type="submit" class="btn btn-primary">저장</button>
        </form>
        <a th:href="@{|/board/${post.boardType}|}" class="btn btn-secondary">취소</a>
    </div>
    <script th:src="@{/bootstrap.min.js}"></script>
</body>
</html>

